on:
  release:
    types: [created]
    # Sequence of patterns matched against refs/tags
    tags:
    - '[0-9]+.*' # Push events to matching 1.0, 2.0, 1.0.1-alpha

name: Attach macOS binary

jobs:
  release:
    name: Build and attach binary
    runs-on: macos-11.0
    steps:
      - name: Checkout code
        uses: actions/checkout@v1
        with:
          submodules: recursive
      - name: Setups variables
        run: |
          echo "DATE=$(date +'%Y%m%d')" >> $GITHUB_ENV
          echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
      - name: Update version and date in project
        run: |
          echo VERSION=$VERSION
          echo DATE=$DATE
          sed -i '' 's/20191017/'${DATE}'/g' Boxer.xcodeproj/project.pbxproj
          sed -i '' 's/2.0.0-alpha/'${VERSION}'/g' Boxer.xcodeproj/project.pbxproj
      - name: Update versions for Finder
        run: agvtool new-marketing-version ${VERSION}
      - name: Build the project
        run: xcodebuild -derivedDataPath ./build -workspace Boxer.xcworkspace -scheme "Boxer CI" -configuration "Release"
      - name: Package the release artefacts
        run: |
          hdiutil create -volname Boxer -srcfolder build/Build/Products/Release/Boxer.app -ov -format UDZO Boxer.dmg
          zip
      - name:  Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref }}
          file: ./Boxer.dmg
          asset_name: Boxer.dmg
          overwrite: true
