on:
  push:
    branches:
      - '**'

jobs:
  k6_local_test:
    name: Boxer test build macos
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
       with:
         submodules: recursive
      - name: Setups variables
        run: |
          echo "DATE=$(date +'%Y%m%d')" >> $GITHUB_ENV
          echo "VERSION=99.99.99" >> $GITHUB_ENV
      - name: Update version and date in project
        run: |
          sed -i '' 's/20191017/'${DATE}'/g' Boxer.xcodeproj/project.pbxproj
          sed -i '' 's/2.0.0-alpha/'${VERSION}'/g' Boxer.xcodeproj/project.pbxproj
      - name: Update plists for version 3
        run: agvtool new-marketing-version ${VERSION}
      - name: checking contents
        run: cat Boxer.xcodeproj/project.pbxproj
      - name: Build the project
        run: xcodebuild -derivedDataPath ./build -workspace Boxer.xcworkspace -scheme "Boxer CI" -configuration "Release"
